/* style */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* html{
    font-size: 12px;
} */

.wrapper {
    background-color: rgb(150, 146, 146);

}

.fix-size {
    max-width: 1024px;
    height: 100vh;
    margin: 0 auto;
    scroll-behavior: smooth;
    padding: 30px 20px;
    background-color: #f0e6ae;
}

.slider {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.slides {
    display: flex;
    justify-content: center;
    width: 500%;
}

.image-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}

.control-wrapper {
    padding-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.label-wrapper {
    display: flex;
    justify-content: center;
}

.input {
    display: none;
}

.label {
    display: block;
    cursor: pointer;
    padding: 10px;
}

.label-wrapper span{
    display: block;
    border: solid black;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    cursor: pointer;
}

input[name="check"]:nth-child(1):checked ~ .slides{
    margin-left: 0;
    transition: margin-left 1s linear;
  }
input[name="check"]:nth-child(2):checked ~ .slides{
    margin-left: -100%;
    transition: margin-left 1s linear;
  }
input[name="check"]:nth-child(3):checked ~ .slides{
    margin-left: -200%;
    transition: margin-left 1s linear;
  }
input[name="check"]:nth-child(4):checked ~ .slides{
    margin-left: -300%;
    transition: margin-left 1s linear;
  }
input[name="check"]:nth-child(5):checked ~ .slides{
    margin-left: -400%;
    transition: margin-left 1s linear;
  }